<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
    <link rel="stylesheet" href="/assets/github.min.css" />
    <title>{{ title }}</title>
    <meta name="author" content="{{author}}" />
    <meta name="description" content="{{description}}" />
  </head>
  <body>
    <main class="w3-main>
      <header class="w3-container">
        <img src="/images/sample.png" 
          alt="Alessandra - Cover"
          class="w3-image" 
          style="width:100%" />
      <header>
      <div class="w3-panel w3-content w3-row-padding">
        {{ content }}
      </div>
    </main>
  </body>
</html>
